@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: Rubik;
}

/* Nav Bar */
.nav-bar {
    background: #160E33;
    width: 100%;
}

.logo {
    display: inline-flex;
    color: #EF443B;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-left: 165px;
    margin-right: 172px;
}

.menu {
    display: inline-flex;
    padding: 36px 18px;
    align-items: center;
    gap: 30px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.sign {
    display: inline-flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    border: 2px solid #EF443B;
    background: #160E33;
    margin-left: 270px;
}

/* Banner */
.banner {
    background: url('./assets/bg.jpg') no-repeat center;
    background-size: cover;
    background-color: #160E33;
    height: 700px;
}

.banner>h1 {
    color: #FFFFFF;
    text-align: center;
    font-size: 80px;
    font-weight: 700;
    margin: 0;
    padding-top: 80px;
}

.banner>h4 {
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.countdown ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-bottom: 20px;
    gap: 12px;
}

.countdown li {
    text-align: center;
}

.num {
    color: #EF443B;
    font-size: 30px;
    font-weight: 500;
    margin: 0;
}

.time {
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
}

.colon {
    color: #EF443B;
    font-size: 30px;
    font-weight: 500;
    margin: 0 6px;
}

.download,
.trade {
    padding: 18px 24px;
    border-radius: 40px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.download {
    background: #EF443B;
}

.trade {
    border-radius: 40px;
    border: 2px solid #EF443B;
    background: rgba(22, 14, 51, 0);
}

.banner>div {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.banner>h3 {
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.coins {
    display: flex;
    justify-content: center;
    align-items: center;
}

.coins p {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
}


/* Trade Section */
.etherium {
    position: absolute;
    bottom: 0.5%;
    left: 4.5%;
}

.trade-sec {
    background: var(--Purple, #160E33);
}

.trade-sec>h1 {
    color: #FFFFFF;
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    margin: 0;
    padding-top: 70px;
}

.trade-sec>p {
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    opacity: 0.6;
}

.trading>img {
    padding-left: 140px;
}

.trading>div>h1 {
    color: #EF443B;
    font-size: 36px;
    font-weight: 700;
}

.trading>div>p {
    color: #EF443B;
    font-size: 18px;
    font-weight: 500;
}

.trading {
    display: flex;
    align-items: center;
}

/* Available Cryptos */
.cryptos {
    background: #160E33;
}

.cryptos>h1 {
    margin: 0;
    padding-top: 80px;
    color: #FFFFFF;
    text-align: center;
    font-size: 64px;
    font-weight: 700;
}

.cryptos>p {
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    opacity: 0.6;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.card {
    width: 350px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    background-color: #FFFFFF;
}

.card-img {
    width: 350px;
    height: 350px;
    flex-shrink: 0;
}

.card-content {
    padding: 16px;
}

.card-title {
    color: #160E33;
    font-size: 24px;
    font-weight: 500;
}

.card-description {
    color: #160E33;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    opacity: 0.6;
}

.card-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
}

.card-footer>p {
    color: #EF443B;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.card-footer>button {
    text-align: center;
    border-radius: 40px;
    background: #EF443B;
    color: #FFFFFF;
    padding: 18px 24px;
    text-transform: uppercase;
}