@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: Rubik;
}

/*Nav Bar*/
.nav-bar {
    background: #160E33;
    width: 100%;
}

.name {
    display: inline-flex;
    color: #EF443B;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-left: 165px;
    margin-right: 172px;
}

.menu {
    display: inline-flex;
    padding: 36px 18px;
    align-items: center;
    gap: 30px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.sign {
    display: inline-flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    border: 2px solid #EF443B;
    background: #160E33;
    margin-left: 270px;
}

/*Banner*/
.banner {
    background: url('./assets/bg.jpg') no-repeat center;
    background-size: cover;
    background-color: #160E33;
    height: 100vh;
}

.banner>h1 {
    color: #FFFFFF;
    text-align: center;
    font-size: 80px;
    font-weight: 700;
    margin: 0;
}